<html>
    <head>
        <title>Hadron, le petit robot</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Contrôle Hadron!</h1>
        <div class="container">
            <div class="video-container">
                <img src="{{ url_for('video_feed') }}" width="640" height="480">
            </div>
            <div class="controls">
                <div class="row">
                    <button onclick="sendCommand('forward')">Avancer</button>
                </div>
                <div class="row">
                    <button onclick="sendCommand('left')">Gauche</button>
                    <button onclick="sendCommand('stop')">Arrêt</button>
                    <button onclick="sendCommand('right')">Droit</button>
                </div>
                <div class="row">
                    <button onclick="sendCommand('backward')">Reculer</button>
                </div>
            </div>
            <div id="mess"> Ou utilise les flèches du clavier (barre d'espacement pour arrêter)</div>
            <div id="messages"></div>
        </div>
        <script>
            function sendCommand(command) {
                fetch('/command/' + command)
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById('messages').innerText = data;
                    });
            }

            document.addEventListener('keydown', function(event) {
                if (event.key === 'ArrowUp') {
                    sendCommand('forward');
                } else if (event.key === 'ArrowDown') {
                    sendCommand('backward');
                } else if (event.key === 'ArrowLeft') {
                    sendCommand('left');
                } else if (event.key === 'ArrowRight') {
                    sendCommand('right');
                } else if (event.key === ' ') {
                    sendCommand('stop');
                }
            });
        </script>
    </body>
</html>